<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49865451533-8dgmqjs60ur3s7i1qhj6ioe97a861obv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49865451533-8dgmqjs60ur3s7i1qhj6ioe97a861obv</string>
	<key>API_KEY</key>
	<string>AIzaSyDUlvZko5HjyRY0D0MhAFmmAo4M4lO7uzY</string>
	<key>GCM_SENDER_ID</key>
	<string>49865451533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.btarcann.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-7e305</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-7e305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49865451533:ios:c17bafa849c364d4eccd44</string>
</dict>
</plist>